#mainPage {
    background-color: rgb(255, 251, 209);
    background-image: url(./images/background-kitchen.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 800px;
}

#main-page-recipe-list {
    width: 300px;
    padding: 10px;
    border: 10px solid rebeccapurple;
    padding-left: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 228, 193);
    color: rgb(48, 43, 43);
    text-align: left;
}

body {
    background-color: pink;
}




.text {
    font-family: cursive, fantasy, monospace;

    &.hover {
        &:hover {
            color: #6393f0;
        }
    }
}

#headTop {
    text-align: left;
    font-size: 30px;
    font-family: cursive, fantasy, monospace;
    margin-bottom: 10px;
}


.text.recipe-header {

    color: blue;
    font-size: xx-large;
}